
<pre>
{{  modelParameters | json }}
</pre>
<div class="container">

  <!-- <app-data></app-data> -->
  <!-- <app-template></app-template> -->

  <h4>Model Parameters <small>|| imput data</small></h4>
  <hr>
  <form [formGroup]="forma" (ngSubmit)="guardarCambios()" novalidate="novalidate" >

    <div class="form-group row">
      <label class="col-2 col-form-label">Specific Gravity</label>
      <div class="col-md-3">

        <input class="form-control"
               type="number"
               [placeholder]="MP_Gs_C13"
               formControlName="MP_Gs_C13"
               [(ngModel)]="modelParameters.MP_Gs_C13"
               >
      </div>
      <h2>|</h2>
      <label class="col-2 col-form-label">MP_Steep_C14</label>
      <div class="col-md-3">

        <input class="form-control"
               type="number"
               [placeholder]="MP_Steep_C14"
               formControlName="MP_Steep_C14"
               [(ngModel)]="modelParameters.MP_Steep_C14"
               >
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">MP_Sopt_C15</label>
      <div class="col-md-3">

        <input class="form-control"
               type="number"
               [placeholder]="MP_Sopt_C15"
               formControlName="MP_Sopt_C15"
               [(ngModel)]="modelParameters.MP_Sopt_C15"
               >
      </div>
      <h2>|</h2>
      <label class="col-2 col-form-label">MP_Water_B17</label>
      <div class="col-md-3">

        <input class="form-control"
               type="number"
               [placeholder]="MP_Water_B17"
               formControlName="MP_Water_B17"
               [(ngModel)]="modelParameters.MP_Water_B17"
               >
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">MP_WaterRange_C17</label>
      <div class="col-md-3">

        <input class="form-control"
               type="number"
               [placeholder]="MP_WaterRange_C17"
               formControlName="MP_WaterRange_C17"
               [(ngModel)]="modelParameters.MP_WaterRange_C17"
               >
      </div>
      <h2>|</h2>
      <label class="col-2 col-form-label">MP_Dmax_STD_E13</label>
      <div class="col-md-3">

        <input class="form-control"
               type="number"
               [placeholder]="MP_Dmax_STD_E13"
               formControlName="MP_Dmax_STD_E13"
               [(ngModel)]="modelParameters.MP_Dmax_STD_E13"
               >
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">MP_Dmax_MOD_E14</label>
      <div class="col-md-3">

        <input class="form-control"
               type="number"
               [placeholder]="MP_Dmax_MOD_E14"
               formControlName="MP_Dmax_MOD_E14"
               [(ngModel)]="modelParameters.MP_Dmax_MOD_E14"
               >
      </div>
      <h2>|</h2>
      <label class="col-2 col-form-label">MP_Sm_E15</label>
      <div class="col-md-3">

        <input class="form-control"
               type="number"
               [placeholder]="MP_Sm_E15"
               formControlName="MP_Sm_E15"
               [(ngModel)]="modelParameters.MP_Sm_E15"
               >
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">MP_Dfield_E17</label>
      <div class="col-md-3">

        <input class="form-control"
               type="number"
               [placeholder]="MP_Dfield_E17"
               formControlName="MP_Dfield_E17"
               [(ngModel)]="modelParameters.MP_Dfield_E17"
               >
      </div>
      <h2>|</h2>
      <label class="col-2 col-form-label">MP_E90_G13</label>
      <div class="col-md-3">

        <input class="form-control"
               type="number"
               [placeholder]="MP_E90_G13"
               formControlName="MP_E90_G13"
               [(ngModel)]="modelParameters.MP_E90_G13"
               >
      </div>
    </div>


    <div class="form-group row">
      <label class="col-2 col-form-label">&nbsp;</label>
      <div class="input-group col-md-8">
        <button type="submit" class="btn btn-outline-primary">
          Calculate
        </button>
      </div>
    </div>
    foma valid
  {{ forma.valid }}
  </form>

    <div class="col-md-12">
      <div style="display: block;">
        <canvas baseChart width="400" height="400"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    <div class="col-md-12" style="margin-bottom: 10px">
      <table class="table table-responsive table-condensed">
        <tr>
          <th *ngFor="let label of lineChartLabels">{{label}}</th>
        </tr>
        <tr *ngFor="let d of lineChartData">
          <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
        </tr>
      </table>
    </div>
</div>
